@media only screen and (max-width:576px) {
    .navbar ul{
        display: none;
    }
    .hide-menu-icon{
        display: block;
        color: #fff;
        font-size: 1.4rem;
    }
    .banner-container, .run-container, .left-and-right-side-container{
        flex-direction: column;
        padding-top: 4rem;
    }
    .banner-text h1{
        font-size: 3rem;
        font-weight: 800;
        line-height: 4.5rem;
    }
    .videos-2{
        left: 0;
    }
    .section-title,.section-title-2{
        max-width: 90%;
    }
    .card-container , .service-container, .team-card-container,.footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    .run-container{
        gap: 2.5rem;
    }
    .run-text h2{
        font-size: 2.4rem;
    }
    .run-btn{
        width: 100%;
    }
    .calculator-title{
        margin-left: 5%;
    }
    .left-and-right-side-container{
        justify-content: center;
        gap: 50px;
    }
    .footer-container{
        gap: 20px;
    }
}