@media only screen and (max-width:576px) {
    .navbar ul{
        display: none;
    }
    .hide-menu-icon{
        display: block;
        color: #fff;
        font-size: 1.4rem;
    }
    .banner-contaainer{
        flex-direction: column;
        padding-top: 4rem;
    }
    .banner-text h1{
        font-size: 4rem;
        font-weight: 800;
        line-height: 4.5rem;
    }
    .videos-2{
        left: 0;
    }
    .section-title{
        max-width: 90%;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
}