@media only screen and (max-width:576px) {
    .navbar ul{
        display: none;
    }
    .hide-menu-icon{
        display: block;
        color: #fff;
        font-size: 1.4rem;
    }
    .banner-contaainer{
        flex-direction: column;
        padding-top: 4rem;
    }
    .videos-2{
        left: 0;
    }
}